body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
}

.logo {
  margin-right: 20px;
}
.logo img {
  width: 30px;
  height: auto; 
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.title-section {
  padding-bottom: 20px;
  padding-left: 60px;
}

.product {
  display: flex;
}

.product .image {
  flex: 1;
  padding: 50px;
  margin-left: 60px;
  background-color: #f9f9f9;
  border: 1px solid black;
}

.product .image img {
  width: 100%;
  height: 0;
  padding-top: 60%; 
}

.product .details {
  flex: 1;
  padding: 20px;
  padding-left: 40px; 
}

.product .details .price {
  font-size: 24px;
  margin-bottom: 20px;
}

.product .details p {
  font-size: 14px;
  margin-bottom: 40px;
}

.product .details button {
  padding: 10px 20px;
  font-size: 16px;
}

.page-separator {
  margin: 90px 0; 
}

.additional-info {
  display: flex;
  margin-top: 20px;
  padding-left: 60px;
  margin-bottom: 40px;
}

.pros-cons {
  flex: 1;
  background-color: #ffffcc;
  padding: 20px;
  border: none; 
  max-width: 200px;
  width: 100%;
  margin-right: 20px;
}

.pros-cons-box {
  padding-bottom: 10px;
 
}

.pros-cons h2 {
  margin-bottom: 10px;
}

.description {
  flex: 1;
  padding: 20px;
}

.description h2 {
  margin-bottom: 20px;
}

.related-products {
  background-color: #ffffcc;
  padding: 40px;
  text-align: center;
}

.related-products h2 {
  margin-bottom: 20px;
}

.product-item {
  display: inline-block;
  width: 200px;
  margin: 0 20px;
}

.product-item img {
  width: 100%;
  height: 100%;
}

.product-item h3 {
  margin: 10px 0;
}

.product-item p {
  font-size: 14px;
}

footer {
  background-color: gray;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-content li {
  display: inline;
  margin-right: 30px;
}

.footer-content li:last-child {
  margin-right: 0;
}

.footer-content a {
  text-decoration: none;
  color: white;
